/* You can add global styles to this file, and also import other style files */

:root {
  --color-text-primary: #1E293B;
  --color-text-secondary: #64748B;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
  --bg-color-success: #ECFDF5;
  --bg-color-warning: #FFFBEB;
  --bg-color-error: #FEF2F2;
}
